.idea/
**/results/
**/__pycache__/
**/overcooked_ai.egg-info/
**/pressureplate.egg-info/
**/mpe.egg-info/
**/capture_target.egg-info/
**/box_pushing.egg-info/
**/rware_v1.egg-info/
**/pymarlzooplus.egg-info/
**/pymarlzoo_plus.egg-info/
**/*.egg-info/
**/build/
**/dist/
**/lib/
**/.DS_Store
**/test_runs.log


