absl-py
attrs
gymnasium
idna
imageio
matplotlib
mpyq
numpy
pbr
Pillow
pluggy
portpicker
probscale
py
pygame
pyparsing
pysc2
pytest
python-dateutil
PyYAML
requests
s2clientprotocol
sacred
scipy
six
sk-video
snakeviz
tensorboard-logger
albumentations
tornado
urllib3
websocket-client
whichcraft
wrapt
seaborn
pandas
torch
torchvision
scikit-learn
pyglet==1.5.27
tqdm
pettingzoo
dill
ipython
ipywidgets
smac @ git+https://github.com/oxwhirl/smac.git # For MultiAgentEnv wrapper
