absl-py
attrs
gymnasium
idna
imageio
matplotlib
mpyq
numpy
pbr
Pillow
pluggy
portpicker
probscale
py
pygame
pyparsing
pysc2
pytest
python-dateutil
PyYAML
requests
s2clientprotocol
sacred
scipy
six
sk-video
snakeviz
tensorboard-logger
albumentations
tornado
urllib3
websocket-client
whichcraft
wrapt
seaborn
pandas
torch
torchvision
scikit-learn
pyglet==1.5.27
tqdm
pettingzoo[all]
dill
ipython
ipywidgets

# For MPE
numpy-stl
seaborn

# For RWARE v1
networkx

# For RWARE V2
rware>1.0.3

# For LBF v3
lbforaging>1.1.1

# For PettingZoo
transformers
autorom